body{
  height: 100vh;
  width: 100vw;
}

.formcontainer{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form{
  align-items: center;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.content{
  display: flex;
  flex-direction: column;
}

.login{
  width: 50%;
  margin: 10px;
}